body{
  text-align: center;
  background-color: black;
}

input{
  width: 75px;
  margin:15px;
}

h1{
  color: rgb(69, 158, 124);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 45px;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 25px;
}

h3{
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 15px;
  font-weight: bold;
}

h4{
  font-weight: bold;
  color:rgb(69, 158, 124);
}

button{
  color: rgb(240, 235, 230);
  background-color: rgb(69, 158, 124);
  font-size: 20px;
  width: 220px;
  margin: 11px;
}